body {
  background-color: salmon;
}
* {
  font-family: "Merriweather", serif;
  font-family: "Playfair", serif;
  color: white;
}
h1 {
  text-align: center;
  font-weight: bold;
}
.book-display {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 200px));
  border: 1px red solid;
  justify-content: space-evenly;
}
.book {
  display: grid;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1528459105426-b9548367069b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=664&q=80");
  background-size: cover;
  border: 1px peachpuff solid;
  align-content: space-around;
  justify-content: space-around;
  align-items: baseline;
  justify-items: center;
}
